body {
  text-align: center;
}
h1 {
  font-family: fantasy;
  font-size: 80px;
  margin: 2px;
}
table,
tr,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  margin: auto;
}
tr {
  height: 20px;
}
td {
  width: 20px;
}
